{
	"presets": [
		["@babel/preset-env", {
			"modules": "commonjs",
			"corejs": 3,
			"useBuiltIns": "usage",
			"targets": {
				"node": "6",
				"chrome": "40",
				"firefox": "40",
				"ie": "10",
				"edge": "12"
			}
		}],
		"@babel/preset-react"
	],

	"plugins": [ "transform-inline-environment-variables" ],

	"env": {
		"module": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"modules": false,
						"useBuiltIns": false,
						"targets": {
							"esmodules": true
						}
					}
				],
				"@babel/preset-react"
			],
			"plugins": [
				"@babel/plugin-proposal-class-properties"
			]
		},

		"coverage": {
			"plugins": [
				"istanbul",
				["@babel/plugin-proposal-decorators", {
					"decoratorsBeforeExport": false
				}]
			]
		},

		"legacy_decorators": {
			"plugins": [
				["@babel/plugin-proposal-decorators", {
					"legacy": true
				}]
			]
		},

		"development": {
			"plugins": [
				["@babel/plugin-proposal-decorators", {
					"decoratorsBeforeExport": false
				}]
			]
		},

		"production": {
			"plugins": [
				["@babel/plugin-proposal-decorators", {
					"decoratorsBeforeExport": false
				}]
			]
		}
	}
}
